.jumbotron {
  padding-bottom: 15px;
}

.fade-show {
  visibility: visible;
  opacity: 1;

  transition:         opacity .2s linear;
  -webkit-transition: opacity .2s linear;
  -moz-transition:    opacity .2s linear;
}

.fade-hide {
  visibility: hidden;
  opacity: 0;

  transition:         visibility 0s .2s, opacity .2s linear;
  -webkit-transition: visibility 0s .2s, opacity .2s linear;
  -moz-transition:    visibility 0s .2s, opacity .2s linear;
}

.user-card .avatar {
  margin-top: 20px;
  float: left;
}

.user-card .info {
  margin-left: 30px;
  float: left;
}
