<div class="jumbotron">
  <h1>Users</h1>
</div>

<ul>
  {{#each model as |user|}}
    <li>
      <img src={{user.avatarUrl}} width=20 />
      {{user.fullName}},
      login as: {{user.email}}/{{user.password}}
    </li>
  {{/each}}
</ul>
